.input {
  padding: 7px 15px;

  outline-color: var(--primary);
  border: none;
  border-radius: 5px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  font-family: Noto Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
}

.input::placeholder {
  color: var(--placeholder);
}

.error {
  border: 2px solid var(--red-light);
}

.inputWrapper {
  position: relative;
}

.errorMessage {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--red-light);
}